@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
* {
  color: #cbffff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  -webkit-transition: background 1s ease 0s;
  -moz-transition: background 1s ease 0s;
  -ms-transition: background 1s ease 0s;
  -o-transition: background 1s ease 0s;
}

#player {
  width: 420px;
  left: 50%;
  top: 50%;
  background: #748899;
  position: absolute;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#ui {
  width: 100%;
  background: #748899;
}
#ui #controls {
  width: 100%;
  display: table;
  overflow: hidden;
}
#ui #controls:before {
  content: " ";
  display: block;
}
#ui #controls .control {
  width: 25%;
  height: 60px;
  float: left;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  background-color: transparent;
  -webkit-transition: background 0.1s ease 0s;
  -moz-transition: background 0.1s ease 0s;
  -ms-transition: background 0.1s ease 0s;
  -o-transition: background 0.1s ease 0s;
}
#ui #controls .control:active {
  background-color: #6a7e8f;
}
#ui #controls #next {
  background-image: url("http://michaelmammoliti.com/_projects/audioJS//icons/azure/next.png");
}
#ui #controls #prev {
  background-image: url("http://michaelmammoliti.com/_projects/audioJS//icons/azure/prev.png");
}
#ui #controls #play {
  background-image: url("http://michaelmammoliti.com/_projects/audioJS//icons/azure/play.png");
}
#ui #controls #stop {
  background-image: url("http://michaelmammoliti.com/_projects/audioJS//icons/azure/stop.png");
}

#progressbar {
  width: 100%;
  display: block;
  height: 6px;
  background: #6a7e8f;
  overflow: hidden;
  cursor: pointer;
}
#progressbar > div {
  width: 0%;
  height: 6px;
  float: left;
  background: #7BC3C0;
  -webkit-transition: width 0.1s ease 0s;
  -moz-transition: width 0.1s ease 0s;
  -ms-transition: width 0.1s ease 0s;
  -o-transition: width 0.1s ease 0s;
}
#progressbar > div #pointer {
  width: 6px;
  height: 6px;
  float: right;
  background: #cbffff;
  margin-right: -6px;
}

#time {
  width: 100%;
  padding: 18px 12px;
  display: table;
  overflow: hidden;
}
#time:before {
  content: " ";
  display: block;
}
#time span {
  color: #7BC3C0;
  width: 50%;
  float: left;
}
#time span:first-of-type {
  text-align: left;
}
#time span:last-of-type {
  text-align: right;
}

#tracks {
  width: 100%;
  display: block;
  background: #6a7e8f;
  display: table;
  overflow: hidden;
}
#tracks:before {
  content: " ";
  display: block;
}
#tracks div {
  width: 100%;
  cursor: pointer;
  padding: 12px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
#tracks div:hover * {
  color: #7BC3C0;
}
#tracks div.active {
  background: #7BC3C0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
#tracks div.active:hover,
#tracks div.active * {
  color: #fff;
}
#tracks div span {
  margin-right: 12px;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
  color: #cbffff;
}
#tracks div artwork {
  float: left;
  height: 36px;
  width: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}

#artwork {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background-image: url("../artworks/01.jpg");
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  -webkit-transition: background 1s ease 0s;
  -moz-transition: background 1s ease 0s;
  -ms-transition: background 1s ease 0s;
  -o-transition: background 1s ease 0s;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #d5ffff;
  opacity: 0.7;
}

.banner {
  display: table;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 11;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.banner P, .banner a {
  padding: 19.2px 24px;
  font-size: 1.5em;
  text-align: center;
  display: block;
}
.banner p {
  background-color: #fff;
  color: #888;
}
.banner a {
  color: #fff;
  background: #7BC3C0;
  text-decoration: none;
}
.banner a:hover {
  background: #67afac;
}

@media screen and (max-height: 400px) {
  body {
    zoom: 0.4;
  }
}

/*# sourceMappingURL=main.css.map */